@use "../util" as u;

.hero{
    background-color: var(--hero-bg) ;
    color: var(--text-light) ;
    
&__wrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding-block: 30px 60px;

    @include u.breakpoint(large){
    flex-direction: row-reverse;
    padding-block: 40px 80px;
    gap: 10%;
    }
}

&__image{
    width: 61%;
    max-width: 483px;
    
    @include u.breakpoint(large){
        flex: 5;
    }

    // width: u.rem(200);

    // @include u.breakpoint(large){
    // width: u.rem(483);
    // }
}

&__text{
    @include u.breakpoint(large){
        flex: 6;
    }

}


&__button{
    &:first-of-type {
        margin-inline-end: 20px;

    }
}
}

